@using DistanceLessons.Models
@model IEnumerable<UserCourseModel>
@if (Model.Count() != 0)
{
    <div style="margin: 0 10px;">
        <ul>
            @{
                foreach (UserCourseModel item in Model)
                {
                    <div class="item">
                        <li>
                            <div class="no_button">
                                <div><b>&nbsp;&nbsp;@item.Course.Title</b></div>
                                <div class="prologue">@Html.TextHtml(item.Course.Description)</div>
                            </div>
                            <div class="time-author">
                                <span style="float: left;">&nbsp;&nbsp;<i>Статус:</i> @if (item.Course.IsSubscribing)
                                                                                      {
                                                                                          <font color="red">Приватний&nbsp;&nbsp;</font>
                                                                                      }
                                                                                      else
                                                                                      {
                                                                                          <font color="green">Загальнодоступний&nbsp;&nbsp;</font>
                                                                                      }</span>
                                <span class="no_button"><i>Викладач:</i> @Html.ActionLink(item.Course.User.Login, "Info", "Profile", new {user = item.Course.User.Login}, null)&nbsp;&nbsp;</span>
                                @if (!item.Course.IsSubscribing)
                                {
                                    if (item.Subscribe == 1)
                                    {
                                        <span onClick="alert('Ви підписались на курс!\n\rПро терміни здачі модуля Ви будете оповіщені по системі особистих повідомлень.\n\r\n\rЩоб відмінити підписку натисніть &laquo;Відмінити&raquo;'); ">@Ajax.ActionLink("Підписатись", "SubscribeOnCourse", new {item.Course.CourseId}, new AjaxOptions {UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace})</span>
                                    }
                                    else if (item.Subscribe == 0)
                                         {
                                             @Ajax.ActionLink("Відмінити", "DeleteSubscribeOnCourse", new {item.Course.CourseId}, new AjaxOptions {UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace})
                                         }
                                }
                                else
                                {
                                    if (item.Subscribe == 1)
                                    {
                                        <span onClick="alert('Цей курс є приватним. Очікуйте затвердження підписки від викладача та оповіщення в особистих повідомленнях.'); ">@Ajax.ActionLink("Підписатись", "ConfirmSubscribeOnCourse", new {item.Course.CourseId, TeacherId = item.Course.UserId}, new AjaxOptions {UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace})</span>
                                    }
                                    else if (item.Subscribe == 2)
                                         {
                                             <span class="current_page">Очікуємо підтвердження</span>
                                         }
                                         else if (item.Subscribe == 0)
                                              {
                                                  @Ajax.ActionLink("Відмінити", "DeleteSubscribeOnCourse", new {item.Course.CourseId}, new AjaxOptions {UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace})
                                              }
                                }
                            </div>
                        </li>
                    </div>
                }
            }
        </ul>
        <div class="item">
            @Ajax.PagesType((int) Session["page"], (int) Session["itemsCount"], (int) Session["itemOnPage"], "course_ajax", "courses", (int) Session["withStatus"])
        </div>
    </div>
}
else
{
    <div class="data_null">Курсів поки що не створено. Очікуйте.</div>
}