@using DistanceLessons.Models
@model UserCourseAndCategoriesModel

@if (Model.UserCourses.Count() != 0)
{
    <script type="text/javascript">
// <![CDATA[
    jQuery(document).ready(function() {
        jQuery('.text').show();
        jQuery('.spoiler').click(function() {
            jQuery(this).toggleClass("folded").toggleClass("unfolded").next().slideToggle("slow");
        });
    });
// ]]>
</script>

    <div style="padding: 10px;">
        @foreach (var item in Model.Categories)
        {
            <div colspan="2"  style="border-bottom: 1px solid silver;"><b class="center">&nbsp;&nbsp;@item.Category1</b></div>
            foreach (var subitem in Model.UserCourses)
            {
                <div style="margin: 10px;">
                    @if (subitem.Cours.Category.Category1 == item.Category1)
                    {
                        <div style="margin-left: 15px; font-size: 0.8em; text-decoration: underline;" class="spoiler">@subitem.Cours.Title</div>
                        <div class="text">
                        <div style="margin: 10px;">
                            @foreach (var subitem1 in Model.Modules)
                            {
                                if (subitem1.CourseId==subitem.CourseId)
                                {
                                <div style="margin-left: 25px; font-size: 0.8em;">@Html.Resource("Layout, module") @subitem1.Title @Ajax.ActionLink("[" + Html.Resource("Layout, start_test") + "]", "ModuleInfo", "Education", new { id = subitem1.ModuleId }, new AjaxOptions { UpdateTargetId = "choose_ajax", InsertionMode = InsertionMode.Replace }, null)</div>
                                }
                                <div style="margin: 10px;">
                                    @foreach (var subitem2 in Model.CoursesLessonsInModule)
                                    {
                                        if ((subitem2.ModuleId == subitem1.ModuleId) && (subitem2.CourseId == subitem.CourseId))
                                        {
                                            <div style="font-size: 0.8em;">@Html.ActionLink("[" + Html.Resource("Layout, read") + "]", "ShowFile", "Education", new { filename = subitem2.Text }, new { target = "_blank" }) @subitem2.Title</div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                        <div class="text" style="margin: 10px;">
                        <div style="margin-left: 25px; font-size: 0.8em;">Додаткові лекції</div>
                        <div style="margin: 10px;">
                            @foreach (var subitem2 in Model.CoursesLessonsInNullModule)
                            {
                                <div style="font-size: 0.8em;">@Html.ActionLink("[" + Html.Resource("Layout, read") + "]", "ShowFile", "Education", new { filename = subitem2.Text }, new { target = "_blank" }) @subitem2.Title</div>
                            }
                        </div>
                        </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
}
else
{
    <div class="data_null">@Html.Resource("Layout, data_null_subscribs")</div>
}