@model DistanceLessons.Models.Module

@{
    ViewBag.Title = "Створення модулю";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Створення модулю</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Calendar/css/flick/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/Calendar/js/jquery-1.6.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Calendar/js/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Calendar/js/i18n/jquery-ui-i18n.js")" type="text/javascript"></script>

<script type="text/javascript">
    //http://jqueryui.com/demos/datepicker
    $(document).ready(function () {
        $('#datePicker').datepicker({ firstDay: 1, dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: "1930:2003", showOtherMonths: true });
    });

    $(function () {
        $.datepicker.setDefaults(
        $.extend($.datepicker.regional["uk"]));
        $("#datepicker").datepicker();
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
      
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeForPassTest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeForPassTest)
            @Html.ValidationMessageFor(model => model.TimeForPassTest)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateBeginTesting)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateBeginTesting)
            @Html.ValidationMessageFor(model => model.DateBeginTesting)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateEndTesting)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateEndTesting)
           @Html.ValidationMessageFor(model => model.DateEndTesting) 
        </div>

                <div class="editor-label">
            @Html.LabelFor(model => model.CountQuestions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountQuestions)
            @Html.ValidationMessageFor(model => model.CountQuestions)
        </div>
       <p>
            <input type="submit" value="Створити" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Повернутись до предмету", "Course", new { id = ViewBag.CourseId })
</div>
