@model DistanceLessons.Models.Lesson

@{
    ViewBag.Title = "Створення навчального елементу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Створення навчального елементу</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
    @Html.HiddenFor(model => model.CourseId)
    @Html.HiddenFor(model => model.ModuleId)
    @Html.HiddenFor(model => model.Text)
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
       
         <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
   
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Зберегти" />
        </p>
   </fieldset>

}

<div>
@if (Model.ModuleId != null)
{ 
    @Html.ActionLink("Повернутись до модулю", "Lesson", new { id = Model.ModuleId });
}
else
{
   @Html.ActionLink("Повернутись до курсу", "Course", new { id = Model.CourseId });
}
</div>
