@model DistanceLessons.Models.Module

@{
    ViewBag.Title = "Летульна інформація про модуль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детальна інформація про модуль</h2>

<fieldset>
    <legend>Модуль</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeForPassTest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeForPassTest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateBeginTesting)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateBeginTesting)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEndTesting)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEndTesting)
    </div>
        <div class="display-label">
         @Html.DisplayNameFor(model => model.CountQuestions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountQuestions)
    </div>


</fieldset>
<p>
    @Html.ActionLink("Редагувати", "EditModule", new { id = Model.ModuleId }) |
    @Html.ActionLink("Повернутись до списку модулів", "Modules", new { courseId = Model.CourseId, owner=true })
</p>
