@model IEnumerable<DistanceLessons.Models.Lesson>

@{
    ViewBag.Title = ViewBag.Module;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>@Html.Resource("Layout, edu_elements")</h2>
<h2> @Html.ActionLink((string)ViewBag.Module, "Course", new { id = (Guid)ViewBag.CourseId })
</h2>
<br/>
<table class="center" cellspacing="10">
    
<tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Title, "ShowFile", "Education", new { filename = item.Text }, null)
        </td>
         

         <td align="right">
         @if ((bool)ViewBag.IsOwner)
         {
             if (item.IsAcceptMainTeacher)
             {
            <text>
            @Html.ActionLink("___", "ShowLessonTests", "Test", new { id = item.LessonId, courseId = (Guid)ViewBag.CourseId }, new { @class = "tests", title = Html.Resource("Layout, tests") })  
           @Html.ActionLink("___", "EditLesson", new { id = item.LessonId }, new { @class = "edit", title = Html.Resource("Layout, edit") }) 
             </text>
           }
             else
             {
            <text>
            @Html.ActionLink("___", "AcceptLesson", new { id = item.LessonId }, new { @class = "accept", title = Html.Resource("Layout, accept") })  
            </text>
           } 
            @Html.ActionLink("___", "DetailsLesson", new { id = item.LessonId }, new { @class = "details", title = Html.Resource("Layout, detail") }) 
            @Html.ActionLink("___", "DeleteLesson", new { id = item.LessonId }, new { onclick = "return confirm('Дійсно бажаєте видалити?')", @class = "delete", title = Html.Resource("Layout, delete") })
         }
        </td>
    </tr>
    
}
<tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
</table>

@if ((bool)ViewBag.IsTeacher)
{
    <div class="item" align="right">
    @Html.ActionLink(Html.Resource("Layout, _lesson_add"), "UploadLesson", new { courseId = (Guid)ViewBag.CourseId, moduleId = (Guid)ViewBag.ModuleId })
    </div>
}
    
