@model IEnumerable<DistanceLessons.Models.Cours>

@{
    ViewBag.Title = "Мої предмети";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мої предмети</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category1)
        </th>
        

    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
          @Html.ActionLink(item.Title, "Course", new { id = item.CourseId })
          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category1)
        </td>


    </tr>
}

</table>
