@{
    ViewBag.Title = Html.Resource("Layout, upload_error");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Resource("Layout, upload_error")</h2>
@{
    string c_id = ViewBag.CourseId;
    string m_id = (ViewBag.ModuleId != null) ? ViewBag.ModuleId : Guid.Empty.ToString();
    
    }
<h5 style="color:Red">@ViewBag.Error</h5>
@Html.ActionLink(Html.Resource("Layout, upload_retry"), "UploadLesson", new { courseId = c_id, moduleId = m_id, act = ViewBag.Action })

<div class="item" align="right">
 @if (m_id == Guid.Empty.ToString())
 {
    @Html.ActionLink(Html.Resource("Layout, back"), "Course", new { id = c_id });
 }
 else
 {
    @Html.ActionLink(Html.Resource("Layout, back"), "Lesson", new { id = m_id });
 }
 </div>