@model DistanceLessons.Models.Information

@{
    ViewBag.Title = "Профіль користувача - "+ Model.User.Login;
}

<table class="center2" cellspacing="10">
    <tr>
        <td colspan="2"  style="border-bottom: 1px solid silver;"><b class="center">&nbsp;&nbsp;Особисті дані:</b></td>
    </tr>
    <tr>
        <td class="text_right">@Html.LabelFor(model => model.LastName)</td>
        <td class="text_left">@Html.DisplayFor(model => model.LastName)</td>
    </tr>
    <tr>
        <td class="text_right">@Html.LabelFor(model => model.FirstName)</td>
        <td class="text_left">@Html.DisplayFor(model => model.FirstName)</td>
    </tr>

    <tr>
        <td class="text_right">@Html.LabelFor(model => model.MidName)</td>
        <td class="text_left">@Html.DisplayFor(model => model.MidName)</td>
    </tr>
        
    @if (!String.IsNullOrEmpty(Model.DateOfBirth.ToString()))
    {
        <tr>
            <td class="text_right">@Html.LabelFor(model => model.DateOfBirth)</td>
            <td class="text_left">@Html.DisplayFor(model => model.DateOfBirth)</td>
        </tr>
    }
    @if (!String.IsNullOrEmpty(Model.About))
    {
        <tr>
            <td class="text_right">@Html.LabelFor(model => model.About)</td>
            <td class="text_left">@Html.DisplayFor(model => model.About)</td>
        </tr>
    }
</table>