@{
    ViewBag.Title = ViewBag.Course;
}
  @if ((bool)ViewBag.IsOwner)
  {
      <h2>@Html.ActionLink((string)ViewBag.Course, "MyCourses") </h2>
  }
  else if ((bool)ViewBag.IsTeacher)
  {
      <h2>@Html.ActionLink((string)ViewBag.Course, "Courses") </h2>
  }
 
 else if ((bool)ViewBag.IsAdmin)
  {
      <h2>@Html.ActionLink((string)ViewBag.Course, "Courses","Admin") </h2>
  } 

<br/>
<h4>Лекції, що не належать до модуля</h4>
 <table class="center" cellspacing="10">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
       
    
@foreach (DistanceLessons.Models.Lesson les in ViewBag.OrphanLessons)
{
   <tr>
     <td>@Html.ActionLink(les.Title, "ShowFile", new { filename = les.Text })</td>
     <td align="right">
           @if ((bool)ViewBag.IsOwner)
           {
               if (les.IsAcceptMainTeacher)
               {
                <text>
                @Html.ActionLink("___", "ShowLessonTests", "Test", new { id = les.LessonId, courseId = (Guid)ViewBag.CourseId }, new { @class = "tests", title = "Тести" }) 
                @Html.ActionLink("___", "EditLesson", new { id = les.LessonId }, new { @class = "edit", title = "Редагувати" }) 
                </text>
           }
               else
               {
                <text>
                @Html.ActionLink("___", "AcceptLesson", new { id = les.LessonId }, new { @class = "accept", title = "Затвердити" })  
                </text>
           } 
            @Html.ActionLink("___", "DetailsLesson", new { id = les.LessonId }, new { @class = "details", title = "Переглянути" }) 
            @Html.ActionLink("___", "DeleteLesson", new { id = les.LessonId }, new { onclick = "return confirm('Дійсно бажаєте видалити?')", @class = "delete", title = "Видалити" })
           }
     </td>
    </tr>
    
}

 <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
 
</table>
@if ((bool)ViewBag.IsTeacher)
{ @Html.ActionLink("Створити навчальний елемент", "UploadLesson", new { courseId = ViewBag.CourseId, moduleId = Guid.Empty })}
<br/>
<br/>
<h4>Модулі предмету</h4>
 <table class="center" cellspacing="10">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
@foreach (DistanceLessons.Models.Module mod in ViewBag.Modules)
        {
  

       <tr>
     <td>@Html.ActionLink(mod.Title, "Lesson", new { id = mod.ModuleId })</td>
     <td align="right">  
      @if ((bool)ViewBag.IsOwner)
      {
            @Html.ActionLink("___", "ShowModuleTests", "Test", new { id = mod.ModuleId }, new { @class = "tests", title = "Тести модуля" })  
            @Html.ActionLink("___", "EditModule", new { id = mod.ModuleId }, new { @class = "edit", title = "Edit" }) 
            @Html.ActionLink("___", "DetailsModule", new { id = mod.ModuleId }, new { @class = "details", title = "Details" }) 
            @Html.ActionLink("___", "DeleteModule", new { id = mod.ModuleId }, new { onclick = "return confirm('Дійсно бажаєте видалити модуль? З видаленням модуля пропадуть також всі лекції, тести і все, що з ним зв`язане!')", @class = "delete", title = "Delete" })
      }
     </td>
    </tr>
        }
        
   
 <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
 </table>
@if ((bool)ViewBag.IsOwner)
{@Html.ActionLink("Створити модуль", "CreateModule", new { id = ViewBag.CourseId }) }
                                                                                          
