@model DistanceLessons.Models.Lesson

@{
    ViewBag.Title = "Створення навчального елементу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Створення навчального елементу</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.CourseId)
    @Html.HiddenFor(model => model.ModuleId)
    @Html.HiddenFor(model => model.Text)
       
     <table class="center" cellspacing="10">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
    <tr>
        <td class="editor-label">  @Html.LabelFor(model => model.Title)</td>
        <td class="editor-field"> @Html.TextBoxFor(model => model.Title, new { @class = "editor" }) <font color="red">*</font></td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.Title)</td>
    </tr>
    

    <tr>
        <td class="editor-label">  @Html.LabelFor(model => model.Description)</td>
        <td class="editor-field"> @Html.TextBoxFor(model => model.Description, new { @class = "editor" })</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.Description)</td>
    </tr>
    
        
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
</table>
        <p>
            <input type="submit" value="Зберегти" />
        </p>


}

<div>
@if (Model.ModuleId != null)
{ 
    @Html.ActionLink("Повернутись до модулю", "Lesson", new { id = Model.ModuleId });
}
else
{
   @Html.ActionLink("Повернутись до курсу", "Course", new { id = Model.CourseId });
}
</div>
