@model DistanceLessons.Models.Lesson
@{
    ViewBag.Title = "Лекція";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Інформація по даній лекції</h2>

     <table class="center" cellspacing="5">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
    <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Title)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.Title)</td>
    </tr>
   
    <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Description)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.Description)</td>
    </tr>
      
       <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.UserId)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.User.Login)</td>
    </tr>

@if ((Model.ModuleId != null) && (Model.ModuleId != Guid.Empty))
{
    <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Module.Title)</td>
        <td class="display-field">  @Html.ActionLink(Model.Module.Title, "Lesson", new { id = Model.ModuleId })</td>
    </tr>
}   

    <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Cours.Title)</td>
        <td class="display-field"> @Html.ActionLink(Model.Cours.Title, "Course", new { id = Model.CourseId })</td>
    </tr>
    
    
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 5px;"></td>
    </tr>
</table>

@Html.ActionLink("Редагувати лекцію", "EditLesson", new { id = Model.LessonId })

