@model DistanceLessons.Models.Cours

@{
    ViewBag.Title = Html.Resource("Layout, _course_edit");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Resource("Layout, _course_edit")</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CourseId)
    
    <table class="center" cellspacing="10">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
<tr>
        <td class="editor-label">  @Html.LabelFor(model => model.Title)</td>
        <td class="editor-field"> @Html.TextBoxFor(model => model.Title, new { @class = "editor" }) <font color="red">*</font></td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.Title)</td>
    </tr>
    
    <tr>
        <td class="editor-label">  @Html.LabelFor(model => model.Description)</td>
        <td class="editor-field"> @Html.TextAreaFor(model => model.Description, new { @class = "editor" })</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.Description)</td>
    </tr>

    <tr>
        <td class="editor-label">  @Html.LabelFor(model => model.Category.Category1)</td>
    @{
       List<DistanceLessons.Models.Category> Category_list = ViewBag.Categories;
            var cat_items = new SelectList(Category_list, "CategoryID", "Category1");
            }
        <td class="editor-field"> @Html.DropDownListFor(model => model.CategoryId, @cat_items, new { @class = "editor" })</td>
   
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.CategoryId)</td>
    </tr>
    @if (User.IsInRole("Admin"))
    {
      <tr>
        <td class="editor-label">  @Html.LabelFor(model => model.User.Login)</td>
        @{ 
        List<DistanceLessons.Models.User> User_list = ViewBag.Users;
        var user_items = new SelectList(User_list, "UserID", "Login");
          }
        <td class="editor-field"> @Html.DropDownListFor(model => model.UserId, @user_items, new { @class = "editor" })</td>
   
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.UserId)</td>
    </tr>
    }
     <tr>
        <td class="editor-label">  @Html.LabelFor(model => model.IsSubscribing)</td>
        <td class="editor-field" align="left"> @Html.CheckBoxFor(model => model.IsSubscribing)</td>
    </tr>
    
     <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
</table>

        <p>
        <input type="submit" value="Зберегти" />
        </p>
}

<div>
@if (User.IsInRole("Teacher"))
{
    @Html.ActionLink(Html.Resource("Layout, cancel"), "Courses","Teacher")
}
else if(User.IsInRole("Admin"))
{
     @Html.ActionLink(Html.Resource("Layout, cancel"), "Courses", "Admin")
}
</div>
