@{
    ViewBag.Title = Html.Resource("Layout, upload");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Html.Resource("Layout, upload_edu_elem")</h2>
<div style="font-style: italic; font-size: smaller">
    @Html.Resource("Layout, upload_info1")<br />@Html.Resource("Layout, upload_info2")
</div>
@{  Guid mod = (ViewBag.ModuleId != null ? (Guid)ViewBag.ModuleId : Guid.Empty);

    Guid course = (Guid)ViewBag.CourseId;
    string act = ViewBag.Action;
}
<br />
@using (Html.BeginForm("Upload", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="file" id="fileUpload" name="fileUpload" accept="" />
    </p>
    <input type="hidden" id="mod_id" name="mod_id" value="@mod" runat="server"/>
    <input type="hidden" id="act" name="act" value="@act" runat="server"/>
    <input type="hidden" id="course_id" name="course_id" value="@course" runat="server"/>
    <p>
        <input type="submit" value=@Html.Resource("Layout, upld") /></p>
}
@if (mod == Guid.Empty)
{
    @Html.ActionLink(Html.Resource("Layout, back"), "Course", new { id = course });
}
else
{
    @Html.ActionLink(Html.Resource("Layout, back"), "Lesson", new { id = mod });
}