@model DistanceLessons.Models.Contact

        <div class="editor-label">
            @Html.LabelFor(model => model.Skype)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Skype, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.Skype)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ICQ_QIP)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ICQ_QIP, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.ICQ_QIP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telephone, new { @class = "editor" })
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Other)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Other, new { @class = "textboxarea" })
            @Html.ValidationMessageFor(model => model.Other)
        </div>
