@using DistanceLessons.Models
@model IEnumerable<Cours>

@{
    ViewBag.Title = Html.Resource("search_the_subject");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Resource("search_the_subject")</h2>


@using (Html.BeginForm())
{
    <table class="center" cellspacing="10">
        <tr>
            <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
        </tr>
        <tr>
            <td class="editor-field">  @Html.DisplayNameFor(model => model.Title)</td>
            <td class="editor-field">  @Html.DisplayNameFor(model => model.Description) </td>
        </tr>
        <tr>          
            <td class="editor-field"> @Html.TextBox("c_title", null, new { @class = "editor" })</td>
            <td class="editor-field"> @Html.TextBox("description", null, new { @class = "editor" })</td>
        </tr>
        <tr>
            <td class="error" colspan="2" align="center" style="padding-top: 5px;"> <button type="submit">@Html.Resource("Layout, go_search")</button></td>
        </tr>
    
        <tr>
            <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
        </tr>
    </table>
}

<div id="CourseGrid">
@if (ViewBag.IsTeacherOrAdmin)
{
    @Html.Partial("_resultCourse", Model);
}
else
{ 
    @Html.Partial("_resultCourse_low", Model);
}
</div>