@model List<DistanceLessons.Models.DetailAnswersModel>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model == null)
{
  <h2> @ViewBag.Username не проходив тестування з цього предмету </h2>
}
else
{

<table style="border: 2px solid black;
              width:100%;" >
    <caption>
            <h3>Результат здачі модуля @ViewBag.ModuleName користувачем @ViewBag.Username : @ViewBag.UserResult
            балів</h3>
    </caption>
    <tbody align="center">
    <tr> 
       <td style="width:33%;"> Тест</td>
       <td> Відповідь користувача</td> 
       <td> Результат</td> 
    </tr>
        @foreach (DistanceLessons.Models.DetailAnswersModel detailModel in Model)
        {
           <tr>
              <td align="justify" style="padding: 10px;"> 
                 @detailModel.TestAndAnswers.Test.Question<br />
                 @{Html.RenderPartial("ShowAnswersPartial", detailModel.TestAndAnswers.AnswerList, Html.ViewData);}                         
              </td>
              <td>
                 @if (detailModel.UserAnswers.Count == 0)
                 {
                     @Html.TextHtml("немає відповіді"); 
                 }
                  @foreach (DistanceLessons.Models.UserAnswer answer in detailModel.UserAnswers)
                  {                      
                      @answer.Answer.Answer1 <br /> 
                  }
              </td>
              <td>
                  @Html.CheckBoxToText(detailModel.IsRightAnswer)
              </td>
           </tr>
        }
    </tbody>
</table>
}