@model DistanceLessons.Models.TestAndAnswersModel

@{
    ViewBag.Title = "Редагувати тест";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@Html.ValidationSummary(true, "Не вдалось зберегти результати. Виправте помилки і спробуйте ще раз.")

@using (Ajax.BeginForm("EditTest", "Test", new AjaxOptions() { UpdateTargetId = "testsdiv", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
{
    <fieldset>
        <legend>Інформація користувача</legend>
         @Html.HiddenFor(model => model.Test.TestId)
         @Html.HiddenFor(model => model.Test.LessonId)
          <div class="editor-field">
          @Html.LabelFor(model => model.Test.Question):
          @Html.EditorFor(model => model.Test.Question)
          @Html.ValidationMessageFor(model => model.Test.Question)
         </div>         
         @for (int j = 0; j < Model.AnswerList.Count; j++)
         {
             @Html.HiddenFor(model => model.AnswerList[j].AnswerId)
             <div class="editor-field">
             @Html.CheckBoxFor(model => model.AnswerList[j].Valid)
             @Html.EditorFor(model => model.AnswerList[j].Answer1)
             @Ajax.ActionLink("Видалити відповідь", "DeleteAnswer", "Test", new { id = Model.AnswerList[j].AnswerId, testId = Model.Test.TestId }, new AjaxOptions() { UpdateTargetId = "testsdiv", InsertionMode = InsertionMode.Replace }, new { onclick = "return confirm('@Html.Resource('Layout', 'delete')');" })      
             @Html.ValidationMessageFor(model => model.AnswerList[j].Answer1) 
             </div>   
         }
        @Ajax.ActionLink("Додати відповідь", "AddAnswer", "Test", new { id = Model.Test.TestId }, new AjaxOptions() { UpdateTargetId = "testsdiv", InsertionMode = InsertionMode.Replace })
        <p>
            <input type="submit"  value="Зберегти" />
        </p>
    </fieldset>
}