@model DistanceLessons.Models.ModuleTestAndAnswersModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Html.Resource("Layout, _test_showmodtests") @Model.Module.Title . @Html.Resource("Layout, _test_showmodtests2") @Model.Module.CountQuestions @Html.Resource("Layout, _test_showmodtests3") @Model.Module.TimeForPassTest @Html.Resource("Layout, minutes") <br />
    @Html.ActionLink(Html.Resource("Layout, back"), "Course", "Teacher", new { id = Model.Module.CourseId }, null)</h3>
@foreach (DistanceLessons.Models.LessonTestAndAnswersModel lessonTests in Model.LessonsTestsAndAnswers)
{
    <div style="text-align: center;">
        @Html.Resource("Layout, lesson"): @lessonTests.Lesson.Title
        <br />
        @Html.ActionLink(Html.Resource("Layout, edit"), "ShowLessonTests", "Test", new { id = lessonTests.Lesson.LessonId, courseId = lessonTests.Lesson.Cours.CourseId }, null)
    </div>
           <div>@Html.Resource("Layout, tests"):</div>
    if (lessonTests.TestAndAnswers.Count == 0)
    {
        <div class="data_null">@Html.Resource("Layout, data_null_test")</div>
    }
    else
    {
        foreach (DistanceLessons.Models.TestAndAnswersModel testAndAnswers in lessonTests.TestAndAnswers)
        {
        <div style="padding: 5px 10px;">
            @testAndAnswers.Test.Question
        </div>
        <div style="padding: 5px 20px;">
            @{Html.RenderPartial("ShowAnswersPartial", testAndAnswers.AnswerList, Html.ViewData);}
        </div>
        }
    }
}