@model DistanceLessons.Models.ModuleTestAndAnswersModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3> Всі тести з модуля @Model.Module.Title . Тестування складається з @Model.Module.CountQuestions запитань на які відведено @Model.Module.TimeForPassTest хвилин. <br />
    @Html.ActionLink("Повернутись до курсу", "Course", "Teacher", new { id = Model.Module.CourseId }, null)</h3>
@foreach (DistanceLessons.Models.LessonTestAndAnswersModel lessonTests in Model.LessonsTestsAndAnswers)
{
    <div style="text-align: center;">
        Лекція: @lessonTests.Lesson.Title
        <br />
        @Html.ActionLink("Редагувати тести", "ShowLessonTests", "Test", new { id = lessonTests.Lesson.LessonId, courseId = lessonTests.Lesson.Cours.CourseId }, null)
    </div>
           <div> Тести:</div>
    if (lessonTests.TestAndAnswers.Count == 0)
    {
        <div style="padding: 5px 10px;"> Тести не створені</div>
    }
    else
    {
        foreach (DistanceLessons.Models.TestAndAnswersModel testAndAnswers in lessonTests.TestAndAnswers)
        {
        <div style="padding: 5px 10px;">
            @testAndAnswers.Test.Question
        </div>
        <div style="padding: 5px 20px;">
            @{Html.RenderPartial("ShowAnswersPartial", testAndAnswers.AnswerList, Html.ViewData);}
        </div>
        }
    }
}