@model DistanceLessons.Models.News

<div class="item" align="right">
@{
    if ((Session["role"].ToString()=="admin")||(Session["role"].ToString()=="teacher")||(Session["role"].ToString()=="dean"))
    {
        @Ajax.ActionLink(Html.Resource("Layout, edit"), "Edit", new { id = Model.NewId }, new AjaxOptions() { UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace })
        @Ajax.ActionLink(Html.Resource("Layout, delete"), "Delete", new { id = Model.NewId }, new AjaxOptions() { UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace })
    }
}
</div>

<h2>@Model.Title</h2>
    <div>
        @Html.TextHtml(Model.Text)
    </div>
    <br/>
<div class="time-author">-@Model.User.Login, @Model.Publication</div>

<div class="item" align="center">
    @Ajax.ActionLink(Html.Resource("Layout, back"), "Index", new AjaxOptions() { UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace })
</div>

