@model DistanceLessons.Models.ChangePasswordModel

@{
    ViewBag.Title = Html.Resource("Title");
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, Html.Resource("SummaryError"))

@using (Html.BeginForm())
{
<table class="center" cellspacing="10" width="50%">
    <tr>
        <td class="editor-label">@Html.LabelFor(m => m.OldPassword)</td>
        <td class="editor-field">@Html.PasswordFor(m => m.OldPassword, new { @class = "editor" })</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(m => m.OldPassword)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(m => m.NewPassword)</td>
        <td class="editor-field">@Html.PasswordFor(m => m.NewPassword, new { @class = "editor" })</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(m => m.NewPassword)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(m => m.ConfirmPassword)</td>
        <td class="editor-field">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "editor" })</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
    </tr>
</table>
<div class="item" align="center">
    <input type="submit" value=@Html.Resource("Change") />
</div>
}