@model DistanceLessons.Models.Module

<h2>@Html.Resource("Layout, _test_not_testing") @Model.Title @Html.Resource("Layout, _test_not_testing2")</h2>
 @Html.Resource("Layout, _test_not_testing3") @Model.DateBeginTesting - @Model.DateEndTesting.<br />
  @Html.ActionLink(Html.Resource("Layout, back"), "Index", "Education")