@model DistanceLessons.Models.PassTestModel

@{
    ViewBag.Title = "Здача модуля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" type="text/javascript">
    window.onload = function () {
        hours=@Model.TimeToResolve.Hours;
        minutes = @Model.TimeToResolve.Minutes;
        seconds =    @Model.TimeToResolve.Seconds;
          if (hours!=0) str=hours+' годин '+minutes+' хвилини '+seconds + ' секунди';
                else if (minutes!=0) str=minutes+' хвилини '+seconds + ' секунди';
                     else str=seconds + ' секунди';
        document.getElementById('timer').innerHTML = str;
        timer = setInterval(
            function () {
                if(seconds==0)
                {
                  if (minutes==0)
                    {
                      if(hours==0)
                        document.location.href = '@Url.Action("CalcModuleResults")/@Model.PassedModule.ModuleId';                     
                      else 
                      {
                       seconds=59;
                       minutes=59;
                       hours--;
                      }
                    }
                  else
                  { 
                   seconds=59;
                   minutes--;
                  }
                }
                else 
                seconds--;
                if (hours!=0) str=hours+' годин '+minutes+' хвилини '+seconds + ' секунди';
                else if (minutes!=0) str=minutes+' хвилини '+seconds + ' секунди';
                     else str=seconds + ' секунди';
                document.getElementById('timer').innerHTML = str;
            },
            1000
        );    
    }
</script>
<h2>Залишилось часу <span id="timer"></span> </h2> <br />
<h2>@Model.PassedModule.Title</h2>
@using (Html.BeginForm("PassModule", "Test", new { moduleId=Model.PassedModule.ModuleId, testId=Model.TestAndAnswers.Test.TestId}, FormMethod.Post))
{
    /*
 @Html.HiddenFor(model => model.PassedModule.ModuleId)
 @Html.HiddenFor(model => model.PassedModule.CourseId)
 @Html.HiddenFor(model => model.TestAndAnswers.Test.TestId)
 */
 @Model.TestAndAnswers.Test.Question <br />
    for (int answer = 0; answer < Model.TestAndAnswers.AnswerList.Count; answer++)
    {
     @Html.CheckBox(Model.TestAndAnswers.AnswerList[answer].AnswerId.ToString(), false) 
     @Model.TestAndAnswers.AnswerList[answer].Answer1 <br />
    }
  <p>
    <input type="submit"  value="Перейти до наступного запитання" />
  </p>      
}
