@model IEnumerable<DistanceLessons.Models.Category>

@{
    ViewBag.Title = "Категорії";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Категорії предметів</h2>

<p>Список категорій(редагування, видалення(у випадку, що категорія не містить предметів ), при натисненні на категорії виводиться список предметів)</p>


<p>
    @Html.ActionLink("Створити категорію", "CreateCategory")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category1)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "EditCategory", new { id=item.CategoryId }) |
            @Html.ActionLink("Переглянути", "DetailsCategory", new { id=item.CategoryId }) |
            @Html.ActionLink("Видалити", "DeleteCategory", new { id = item.CategoryId }, new { onclick = "return confirm('Дійсно бажаєте видалити?')" })
        </td>
    </tr>
}

</table>
