@model DistanceLessons.Models.Cours

@{
    ViewBag.Title = "Створення предмету";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Створення предмету</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Cours</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category.CategoryId)
        </div>
        <div class="editor-field">
        @{
    List<DistanceLessons.Models.Category> Category_list = ViewBag.Categories;
    var cat_items = new SelectList(Category_list, "CategoryID", "Category1");
            }
        @Html.DropDownListFor(model => model.CategoryId, @cat_items)

           @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Login)
        </div>
        <div class="editor-field">
        @{
    List<DistanceLessons.Models.User> User_list = ViewBag.Users;
    var user_items = new SelectList(User_list, "UserID", "Login");
            }

      @Html.DropDownListFor(model => model.UserId, @user_items)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Access)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Access)
            @Html.ValidationMessageFor(model => model.Access)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Courses")
</div>
