@model DistanceLessons.Models.Cours

@{
    ViewBag.Title = Html.Resource("Layout, course");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Resource("Layout, detailing")</h2>

   
    <table class="center" cellspacing="10">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
<tr>
        <td class="editor-label"> @Html.DisplayNameFor(model => model.Title)</td>
        <td class="editor-field"> @Html.DisplayFor(model => model.Title) </td>
    </tr>

    
    <tr>
        <td class="editor-label" valign="top">  @Html.DisplayNameFor(model => model.Description)</td>
        <td class="editor-field"> @Html.DisplayFor(model => model.Description)</td>
    </tr>
   
    <tr>
        <td class="editor-label">  @Html.DisplayNameFor(model => model.Category.Category1)</td>
        <td class="editor-field"> @Html.DisplayFor(model => model.Category.Category1)</td>
     </tr>
    
      <tr>
        <td class="editor-label">  @Html.DisplayNameFor(model => model.User.Login)</td>
        <td class="editor-field"> @Html.DisplayFor(model => model.User.Login)</td>
     </tr>
    <tr>
            <td class="editor-label">  @Html.DisplayNameFor(model => model.IsSubscribing)</td>
        <td class="editor-field" align="left"> @Html.DisplayFor(model => model.IsSubscribing)</td>
    </tr>
    
     <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
</table>

   



<p>
    @Html.ActionLink(Html.Resource("Layout, back"), "Courses")
</p>
