@model DistanceLessons.Models.User

@{
    ViewBag.Title = Html.Resource("Layout, _user_info");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.Resource("Layout, _user_info")</h2>

<table class="center" cellspacing="10">
   <tr>
   <th colspan="2">@Html.Resource("Layout, _summary_info")</th>
   </tr>
  <tr>
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
    <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Login)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.Login)</td>
    </tr>
    
      <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Role.Name)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.Role.Name)</td>
    </tr>
    
      <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.Email)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.Email)</td>
    </tr>

    <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.IsActived)</td>
        <td class="display-field">  @Html.DisplayFor(model => model.IsActived)</td>
    </tr>

     <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.IsLockedOut)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.IsLockedOut)</td>
    </tr>
    
      <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.CreatedDate)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.CreatedDate)</td>
    </tr>

      <tr>
        <td class="display-label">  @Html.DisplayNameFor(model => model.LastLoginDate)</td>
        <td class="display-field"> @Html.DisplayFor(model => model.LastLoginDate)</td>
    </tr>


     <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
</table>

@if ((bool)ViewBag.IsInfo)
{
    DistanceLessons.Models.Information Info = (DistanceLessons.Models.Information)ViewBag.Info;

    <table class="center" cellspacing="10">
   
   <tr>
   <th colspan="2">@Html.Resource("Layout, _profile_pd")</th>
   </tr>
  <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr> 
    <tr>
        <td class="display-label">  @Html.DisplayName(Html.Resource("Metadata, Information_LastName"))</td>
        <td class="display-field"> @Info.LastName</td>
    </tr>
    
      <tr>
        <td class="display-label">  @Html.DisplayName(Html.Resource("Metadata, Information_FirstName"))</td>
        <td class="display-field"> @Info.FirstName</td>
    </tr>
    
      <tr>
        <td class="display-label">  @Html.DisplayName(Html.Resource("Metadata, Information_MidName"))</td>
        <td class="display-field"> @Info.MidName</td>
    </tr>
@if (Info.DateOfBirth != null)
{
    <tr>
        <td class="display-label"> @Html.DisplayName(Html.Resource("Metadata, Information_DateOfBirth"))</td>
        <td class="display-field"> @Info.DateOfBirth.Value.Date.ToShortDateString()</td>
    </tr>
}

@if (Info.About != null)
{
     <tr>
        <td class="display-label"> @Html.DisplayName(Html.Resource("Metadata, Information_About"))</td>
        <td class="display-field"> @Info.About</td>
    </tr>
}
     <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
</table>

}

@if ((bool)ViewBag.IsContact)
{
    DistanceLessons.Models.Contact Contact = (DistanceLessons.Models.Contact)ViewBag.Contacts;

    <table class="center" cellspacing="10">
    <tr>
   <th colspan="2">@Html.Resource("Layout, _profile_cd")</th>
   </tr>
<tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
@if (Contact.Telephone != null)
{   
    <tr>
        <td class="display-label">  @Html.DisplayName(Html.Resource("Metadata, Contact_Tel"))</td>
        <td class="display-field"> @Contact.Telephone</td>
    </tr>
}

@if (Contact.Skype != null)
{
    <tr>
        <td class="display-label">  @Html.DisplayName(Html.Resource("Metadata, Contact_Skype"))</td>
        <td class="display-field"> @Contact.Skype</td>
    </tr>
    
}   

@if (Contact.ICQ_QIP != null)
{
    <tr>
        <td class="display-label">  @Html.DisplayName(Html.Resource("Metadata, Contact_ICQ"))</td>
        <td class="display-field"> @Contact.ICQ_QIP</td>
    </tr>
}
   
@if (Contact.Other != null)
{
     <tr>
        <td class="display-label"> @Html.DisplayName(Html.Resource("Metadata, Contact_Other"))</td>
        <td class="display-field"> @Contact.Other</td>
     </tr>
}
     <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
</table>

}
<p>
    @Html.ActionLink(Html.Resource("Layout, edit"), "EditUser", new { id = Model.UserId }) |
    @Html.ActionLink(Html.Resource("Layout, back"), "Users")
</p>
