@model DistanceLessons.Models.Information

@{
    ViewBag.Title = "Реєстрування в базі даних особистої інформації";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@*Calendar*@
<link href="@Url.Content("~/Content/Calendar/css/flick/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/Calendar/js/jquery-1.6.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Calendar/js/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Calendar/js/i18n/jquery-ui-i18n.js")" type="text/javascript"></script>

<h3>Особиста інформація</h3>

@using (Html.BeginForm())
{
@Html.ValidationSummary(true)
<table class="center" cellspacing="10">
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.LastName)</td>
        <td class="editor-field">@Html.TextBoxFor(model => model.LastName, new { @class = "editor" }) <font color="red">*</font></td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.LastName)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.FirstName)</td>
        <td class="editor-field">@Html.TextBoxFor(model => model.FirstName, new { @class = "editor" }) <font color="red">*</font></td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.FirstName)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.MidName)</td>
        <td class="editor-field">@Html.TextBoxFor(model => model.MidName, new { @class = "editor" }) <font color="red">*</font></td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.MidName)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.DateOfBirth)</td>
        <td class="editor-field">@Html.TextBoxFor(model => model.DateOfBirth, new { @class = "editor", @id = "datePicker", @readonly = true })</td>
    </tr>
    <tr>
        <td>
        </td>
        <td class="error"><u>Примітка</u>: При вказуванні дати народження - будьте обачні. Після задання дати народження, її вже не можна буде змінити.</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.DateOfBirth)</td>
    </tr>
    <tr>
        <td class="editor-label">@Html.LabelFor(model => model.About)</td>
        <td class="editor-field">@Html.TextAreaFor(model => model.About, new { @class = "textboxarea_short" })</td>
    </tr>
    <tr>
        <td></td>
        <td class="error">@Html.ValidationMessageFor(model => model.About)</td>
    </tr>
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;">У випадку, якщо Ви захочете заповнити особисті дані: поля, що відмічені <font color="red">*</font> - є обовязкові.</td>
    </tr>
</table>
<div class="item" align="center">
    <input type="submit" value="Створити" />
</div>
}

<script type="text/javascript">
    //http://jqueryui.com/demos/datepicker
    $(document).ready(function () {
        $('#datePicker').datepicker({ firstDay: 1, dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: "1930:2011", showOtherMonths: true });
    });

    $(function () {
        $.datepicker.setDefaults(
        $.extend($.datepicker.regional["uk"]));
        $("#datepicker").datepicker();
    });
</script>