@using DistanceLessons.Models
@model IEnumerable<MessageStatusWithAuthorModel>

@{
    if ((Model.Count() == 0) || (!ViewBag.Exist))
    {
        <div class="data_null">Список повідомлень пустий.</div>
    }
    else
    {
        <ul>
            <div class="item">
                @foreach (MessageStatusWithAuthorModel item in Model)
                {
                    if ((item.Messages.Status != 10) && (item.Messages.Status != 11) && (item.Messages.Status != 12) && (item.Messages.Status != 0) && (item.Messages.Status != 1))
                    {
                        continue;
                    }

                    <div class="message">

                        <p>@if (item.Messages.Status == 0)
                           {
                               <font color="red">[Не прочитане]</font>
                           }
                           else if (item.Messages.Status == 10)
                                {
                                    <font color="blue">[Не прочитане]</font>
                                }
                                else if (item.Messages.Status == 11)
                                     {
                                         <font color="green">[Підтверджено]</font>
                                     }
                                     else if (item.Messages.Status == 12)
                                          {
                                              <font color="violet">[Відмовлено]</font>
                                          }
                        </p>
                        <p>Тема: @item.Messages.Message.Title</p>
                        <p>@if (item.Author)
                           {
                               <span>Кому:</span>
                           }
                           else
                           {
                               <span>Від кого:</span>
                           } @item.username</p>
                        <p>
                            Дата: @item.Messages.Message.DateOfSender
                            <span class="right">
                                @Ajax.ActionLink("Видалити", "DeleteMessage", new {item.Messages.MessageId}, new AjaxOptions {UpdateTargetId = "profile_ajax", InsertionMode = InsertionMode.Replace})
                                @Ajax.ActionLink("Читати...", "ReadMessage", new {item.Messages.MessageId}, new AjaxOptions {UpdateTargetId = "profile_ajax", InsertionMode = InsertionMode.Replace})
                            </span>
                        </p>
                    </div>
                }
            </div>
        </ul>
    }
}