<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>University - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <!--NotDefaultResources-->
    <script type="text/javascript">
        var ie = (document.getElementById && document.documentElement.behaviorUrns) ? true : false;
        if (ie) {
            alert("Наш сайт не підтримує ваш браузер.\nДля корректної роботи, встановіть інший браузер.\nНаприклад: Google Chrome(рекомендуємо), Opera, Mozilla Firefox, Safari, etc...\n\nВибачте за будь-які можливі незручності ;)");
            //location.replace("http://www.google.com/chrome?hl=uk");
        }
    </script>
    <link href="@Url.Content("~/Content/Layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Browser.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/script/jquerycssmenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/script/browser_selector.js")" type="text/javascript"></script>
</head>
<body>
    <a name="top_page"></a>
    <!--Container for page-->
    <div id="container">
        <!--Header-->
        <div id="header_logo">
        </div>
        <div id="header_upper_left">
        </div>
        <div id="header_upper_right">
            <div id="#lang">
                <a href="#" id="us"></a><a href="#" id="ru"></a><a href="#" id="ua"></a>
            </div>
        </div>
        <div id="header_middle">
            <div id="header">
            </div>
        </div>
        <div id="header_lower">
            <div id="auth">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
        <!--Navigation-->
        <div id="myjquerymenu" class="nav">
            @Html.Partial("_Navigation_PartialPage")
            <div class="search">
                Пошук тут</div>
            <br style="clear: left" />
        </div>
        <!--Base Fragment Page-->
        <div id="text">
            <div class="title">
                @ViewBag.Title
            </div>
            <div class="dyn">
                @RenderBody()
            </div>
        </div>
        <div id="news">
            @Html.Partial("_News_PartialPage")
            <div class="clearfloat">
            </div>
            <div id="footer">
                <p>
                    <a href="#top_page">Go to top of page</a></p>
                <p>
                    &copy; First Team, CHNU &amp; SoftServe Course, @System.DateTime.Now.Year | All
                    right reserved.</p>
                <p>
                    e-mail: <a href="mailto:chnudotnet_forwardstep@googlegroups.com">chnudotnet_forwardstep@googlegroups.com</a></p>
            </div>
        </div>
</body>
</html>
