@if (Request.IsAuthenticated)
{
    <ul>
        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
        <li>@Html.ActionLink("Новини", "Index", "News")</li>
        <li>@Html.ActionLink("Профіль", "Index", "Profile")</li>
        <li>@Html.ActionLink("Користувачі","Users","Message")</li>
        <li>@Html.ActionLink("Повідомлення","Index","Message")</li>
        @{ DistanceLessons.Models.DataEntitiesManager _db = new DistanceLessons.Models.DataEntitiesManager();
           if (_db.UserRole(User.Identity.Name) == DistanceLessons.Models.UserRoles.Admin.ToString())
           {
            <li>@Html.ActionLink("Адмін", "Index", "Admin")
                <ul>
                    <li>@Html.ActionLink("Користувачі", "Users", "Admin")</li>
                    <li>@Html.ActionLink("Категорії предметів", "Categories", "Admin")</li>
                    <li>@Html.ActionLink("Предмети", "Courses", "Admin")</li>
                    <li>@Html.ActionLink("Оповіщення", "Message", "Admin")</li>
                </ul>
            </li>
           }
           else if (_db.UserRole(User.Identity.Name) == DistanceLessons.Models.UserRoles.Dean.ToString())
           {
            <li><a href="#">Декан</a></li>
           }
           else if (_db.UserRole(User.Identity.Name) == DistanceLessons.Models.UserRoles.Teacher.ToString())
           {
               <li>@Html.ActionLink("Мої предмети", "MyCourses", "Teacher")
                <ul>
                    <li>@Html.ActionLink("Мої предмети", "MyCourses", "Teacher")</li>

                </ul>
            </li>
           }
        }
    </ul>
}