@using DistanceLessons.Models
@if (Request.IsAuthenticated)
{
    <ul>
        <li>@Html.ActionLink(Html.Resource("Layout, _HorizontalNavigation_HomePage"), "Index", "Home")</li>
        <li>@Html.ActionLink(Html.Resource("Layout, _HorizontalNavigation_News"), "Index", "News")</li>
        <li>@Html.ActionLink(Html.Resource("Layout, _HorizontalNavigation_Profile"), "Index", "Profile")</li>
        <li>@Html.ActionLink(Html.Resource("Layout, _HorizontalNavigation_Education"), "Index", "Education")</li>

        @{
            var _db = new DataEntitiesManager();
            if (_db.UserRole(User.Identity.Name) == UserRoles.Admin.ToString())
            {
                <li><a>@Html.Resource("Layout, admin_panel")</a>
                    <ul>
                        <li>@Html.ActionLink(Html.Resource("Layout, users"), "Users", "Admin")</li>
                        <li>@Html.ActionLink(Html.Resource("Layout, categories"), "Categories", "Admin")</li>
                        <li>@Html.ActionLink(Html.Resource("Layout, courses"), "Courses", "Admin")</li>
                    </ul>
                </li>
            }
            else
            {
                if (_db.UserRole(User.Identity.Name) == DistanceLessons.Models.UserRoles.Dean.ToString())
                {
                    <li>@Html.ActionLink(Html.Resource("Layout, journal"), "Index", "Result")</li>
                }
                    if (_db.UserRole(User.Identity.Name) == DistanceLessons.Models.UserRoles.Teacher.ToString())
                    {
                        <li><a>@Html.Resource("Layout, teacher_panel")</a>
                            <ul>
                                <li>@Html.ActionLink(Html.Resource("Layout, courses"), "Courses", "Teacher")</li>
                                <li>@Html.ActionLink(Html.Resource("Layout, journal"), "Index", "Result")</li>
                            </ul>
                        </li>
                    }
            }
        }
        <li><a>@Html.Resource("Layout, search")</a>
            <ul>
                <li>@Html.ActionLink(Html.Resource("Layout, search_the_subject"), "Course", "Search")</li>
                <li>@Html.ActionLink(Html.Resource("Layout, search_the_lesson"), "Lesson", "Search")</li>
                <li>@Html.ActionLink(Html.Resource("Layout, search_for_users"), "UsersSearch", "Search")</li>
            </ul>
        </li>
    </ul>
}