@using DistanceLessons.Models
<div class="title">@Html.Resource("Layout, _HorizontalNavigation_News")</div>

@{
    var _db = new DataEntitiesManager();
    List<News> temp = _db.GetNewsList_time(3, 0, 2);
}

@if (((temp == null) || (temp.Count == 0)))
{
    <div class="data_null">@Html.Resource("Layout, data_null_news")</div>
}
else
{
    <ul>
        @{
    foreach (News _new in temp)
    {
                <li>@Html.ActionLink(_new.Title, "Detail", "News", new { id = _new.NewId }, null)
                    <div class="prologue">@Html.TextHtml(_new.Text)</div>
                    <div class="time-author">
                        <span class="no_button">-@Html.ActionLink(_new.User.Login, "Info", "Profile", new { user = _new.User.Login }, null), @_new.Publication</span></div>
                </li>
    }
        }
    </ul>
}