@{
    ViewBag.Title = Html.Resource("Layout, page_not_found");
}

<div>
    <div id="error_body"></div>

    <div>
        <h3>@Html.Resource("Layout, page_not_found_title")</h3>
        <div align="center">[<a href=@ViewBag.RequestedUrl>@ViewBag.RequestedUrl</a>]</div>
        <br/>
        <b>@Html.Resource("Layout, page_not_found_question")</b>
        <br/>
        @Html.TextHtml(Html.Resource("Layout, page_not_found_theory"))
        <br/>
        <b>@Html.Resource("Layout, page_not_found_try")</b><br/>
        @Html.TextHtml(Html.Resource("Layout, page_not_found_theory2"))
    </div>
</div>

@* Виникає помилка в Веб-кіт браузерах та ІЕ =\ 
  upd: Вирішено, виділенням памяті - 512біт*@
@(new string(' ', 512))