@model DistanceLessons.Models.DetailModuleTestResultsModel
@if (Model.TestResults.Count == 0)
{
    <div class="data_null">
        @Html.Resource("Layout, data_null_detail_module")
    </div>
}
else
{
    <h2>@Html.Resource("Layout, _result_module_result")</h2>

    <table style="width: 100%;">
        <tbody>
            <tr>
                <th style="border: 1px solid silver; width: 25%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_loginPIP")
                </th>
                <th style="border: 1px solid silver; width: 25%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_user_points")
                </th>
                <th style="border: 1px solid silver; width: 25%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_begin_test")
                </th>
                <th style="border: 1px solid silver; width: 25%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_other_action")
                </th>
            </tr>
            @foreach (DistanceLessons.Models.TestResultModel userModuleResult in Model.TestResults)
            {
                <tr align="center">
                    <td style="padding: 10px; border: 1px solid silver;">
                        @Ajax.ActionLink(userModuleResult.Login, Model.Parameters.ControllerName, new { id = userModuleResult.UserId, divIdToReplace = Model.Parameters.DivIdToReplace, type = DistanceLessons.Models.ElementsType.User }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace })                           
                        <br />
                        @userModuleResult.FirstName @userModuleResult.LastName @userModuleResult.MiddleName
                    </td>
                    <td style="border: 1px solid silver;">
                        @if (userModuleResult.Result == null)
                        {
                            @Html.Resource("Layout, _result_in_action")
                        }
                        else
                        { 
                            @(userModuleResult.Result.ToString() + (userModuleResult.MaxPoints == null ? "" : "/" + userModuleResult.MaxPoints))
                        }
                    </td>
                    <td style="border: 1px solid silver;">
                        @userModuleResult.StartTesting
                    </td>
                    <td style="border: 1px solid silver;">
                        @Ajax.ActionLink(Html.Resource("Layout, _result_detail_testing"), "DetailsModuleUserAnswers", "Result", new { id = Model.Parameters.pickedElement, username = userModuleResult.Login, controllerName = Model.Parameters.ControllerName, divIdToReplace = Model.Parameters.DivIdToReplace }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace })
                        @if ((ViewBag.IsTeacherCourse) && (userModuleResult.Result != null))
                        {
                            <br />
                            @Ajax.ActionLink(Html.Resource("Layout, _result_refresh_result"), "DeletePassModule", "Result", new { id = Model.Parameters.pickedElement, username = userModuleResult.Login, controllerName = Model.Parameters.ControllerName, divIdToReplace = Model.Parameters.DivIdToReplace }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace })                    
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}