@model List<DistanceLessons.Models.UserResultModel>
@if (Model.Count == 0)
{
    @Html.TextHtml("<h3>:Жодного тестування не пройдено </h3>")
}
else
{
    <h2>
        Результати тестування
    </h2>
    <table style="width: 100%;">
        <tbody align="center">
            <tr>
                <td>
                    Назва курсу
                </td>
                <td>
                    Здані модулі
                </td>
                <td>
                    Результати модулів
                </td>
                <td>
                    Оцінка за курс
                </td>
            </tr>
            @foreach (var userResult in Model)
            { 
                <tr>
                    <td>
                        @userResult.CourseTitle.Value
                    </td>
                    <td>
                        @foreach (var moduleTitle in userResult.ModuleTitles)
                        {
                            @moduleTitle.Value
                            <br />
                        }
                    </td>
                    <td>
                        @foreach (var moduleResult in userResult.ResultModules)
                        {
                            @moduleResult.Value.ToString();
                            @Html.TextHtml("/");
                            @moduleResult.Key.ToString();
                            <br />
                        }
                    </td>
                    <td>
                        @userResult.CourseResult
                    </td>
                </tr>
            }
        </tbody>
    </table>
}