@model DistanceLessons.Models.Message

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Повідомлення</h2>

<fieldset>
    @Html.HiddenFor(model => model.MessageId)

    <table style="text-align:center; vertical-align:middle;  ">
        <tr align="center" valign="middle" >
        
            <th> @((Model.User.Login == User.Identity.Name)? "Кому: "  : "Від кого:")</th>

            <th>
                @{
                    if(Model.User.Login == User.Identity.Name)
                    {
                        @Html.DisplayFor(model => model.User1.Login)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.User.Login)
                    }
                }
                
            </th>
        </tr> 
        <tr align="center" valign="middle" >
            <th>
                Повідомлення:
               <p>@Html.DisplayFor(model => model.Message1) </p> 
            </th>
        </tr>
    </table>
    
    
    
    <!--
    <div class="display-label">
         @Html.HiddenFor(model => model.MessageId)
    </div>

    <div class="editor-label">
         Від кого:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Login)
    </div>

    <div class="editor-label">
         Повідомлення:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message1)
    </div>
-->
    
</fieldset>
<p>
    @{
                    if(Model.User.Login == User.Identity.Name)
                    {
                        @Html.ActionLink("Написати ще", "CreateMessage", "Message", new { user = Model.User1.Login }, null)
                    }
                    else
                    {
                       @Html.ActionLink("Відповісти", "CreateMessage", "Message", new { user = Model.User.Login }, null)
                    }
                }
    |
    @Html.ActionLink("Надіслати", "CreateWithMessage", "Message", new { message = Model.Message1 }, null)|
    @Html.ActionLink("Back to List", "Index")
</p>
