@model IEnumerable<DistanceLessons.Models.Message>

@{
    ViewBag.Title = "SendList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendList</h2>

<p>
    @Html.ActionLink("Прийняті", "Index", "Message")   
    @Html.ActionLink("Надіслані", "SendList", "Message")
</p>
<table>
    <tr align=center valign=middle>
        <th>
            @Html.DisplayNameFor(model => model.Message1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfSender)
        </th>
        <th>
            Кому
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Status != 2)
    {
    <tr align=center valign=middle>
    <td>
        @{
                  if(item.Message1.Length>25)
                  {
                      @Html.Label((item.Message1).Substring(0,25));
                  }  
                  else
                  {
                      @Html.DisplayFor(modelItem => item.Message1);
                  }    
             }
    </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfSender)
        </td>
        <td>
            @{
             
        List<DistanceLessons.Models.User> userList = ViewBag.Users;

        string name = " ";

        foreach (DistanceLessons.Models.User obj in userList)
        {
            if (obj.UserId == item.UserId_To) { name = obj.Login; break; }
        }

         
            }
            @Html.Label(name)
            
        </td>
        
        
        <td>
            @Html.ActionLink("Прочитати", "Edit", "Message", new { id = item.MessageId }, null)
            
            @Html.ActionLink("Видалити", "Delete", new { id = item.MessageId })
        </td>
    </tr>
    }
}

</table>
