@model IEnumerable<DistanceLessons.Models.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Повідомлення</h2>

<p>
    @Html.ActionLink("Прийняті", "Index", "Message")   
    @Html.ActionLink("Надіслані", "SendList","Message")
</p>
<table >
    <tr align=center valign=middle>
        <th>
            Повідомлення
            @*Html.DisplayNameFor(model => model.Message1)*@
        </th>
        <th>
            Коли
            @*Html.DisplayNameFor(model => model.DateOfSender)*@
        </th>
        <th>
            
            Від кого 
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr align=center valign=middle>
        <td>
            @Html.DisplayFor(modelItem => item.Message1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfSender)
        </td>
        
        <td>
        @{
             
            List<DistanceLessons.Models.User> userList =ViewBag.Users;

            string name=" ";

            foreach (DistanceLessons.Models.User obj in userList)
            {
                if (obj.UserId == item.UserId_From) {name = obj.Login; break; }
            }

         
            }
            @Html.Label(name)
         </td>
         
         
        <td>
            
            
            @Html.ActionLink("Видалити", "Delete", new { id = item.MessageId })
        </td>
    </tr>
}

</table>
