@model IEnumerable<DistanceLessons.Models.Cours>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Предмети</h2>
<p>Список предметів (при натисканні на предмет виводиться список всіх лекцій з можливістю додавання, редагування, видалення)</p>


<p>
    @Html.ActionLink("Створити предмет", "CreateCours")
</p>
<table border=1>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Access)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Access)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "EditCours", new { id = item.CourseId }) |
           @Html.ActionLink("Деталі", "DetailsCours", new { id = item.CourseId }) |
            @Html.ActionLink("Видалити", "DeleteCours", new { id = item.CourseId }, new { onclick = "return confirm('Дійсно бажаєте видалити?')" })
                    </td>
    </tr>
}

</table>
