@model IEnumerable<DistanceLessons.Models.Cours>

@{
    ViewBag.Title = "Предмети";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Предмети</h2>
<p>
    @Html.ActionLink("Створити предмет", "CreateCours")
</p>

<br/>

@{
    var grid = new WebGrid(Model, rowsPerPage: 10, defaultSort: "Title");
   @grid.GetHtml(
        tableStyle: "center",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("Title", "Назва предмету", format: @<b>@item.Title</b>),
            grid.Column("Category.Category1", "Категорія", format: @<i>@item.Category.Category1</i>),
            grid.Column("User.Login", "Викладач", format:@<text><i>@item.User.Login</i> </text>),
            grid.Column(format: (item) =>
                new HtmlString(
                    Html.ActionLink("Редагувати", "EditCours", new { id = item.CourseId }).ToString() + "|"
                  + Html.ActionLink("Переглянути", "DetailsCours", new { id = item.CourseId}).ToString()+ "|"
                   + Html.ActionLink("Видалити", "DeleteCours", new { id = item.CourseId}, new { onclick = "return confirm('Дійсно бажаєте видалити предмет? З видаленням предмету автоматично будуть видалені всі модулі, лекції, тести і результати тестів!!!')" }).ToString()           )
                              )));
                          }


