@model DistanceLessons.Models.Cours

@{
    ViewBag.Title = "DetailsCours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsCours</h2>

<fieldset>
    <legend>Cours</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.Category1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Category1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Access)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Access)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "EditCours", new { id = Model.CourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
