@model IEnumerable<DistanceLessons.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пошук користувачів</h2>

@using (Html.BeginForm())
{
    <table class="center" cellspacing="10">
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
    <tr>
        <td class="editor-field">  @Html.DisplayNameFor(model => model.Login) </td>
        <td class="editor-field">  @Html.DisplayNameFor(model => model.Role.Name) </td>
         </tr>
     <tr>          
        <td class="editor-field"> @Html.TextBox("login", null, new { @class = "editor" }) </td>
         <td class="editor-field"> 
             @{
                  List<DistanceLessons.Models.Role> roleList = ViewBag.RoleList; 
                  var roleItems = new SelectList(roleList, "RoleID", "Name");
                  
              }
              
             @Html.DropDownList("role", @roleItems, new { @class = "editor" }) 
             
            Не знаю статус: @Html.CheckBox("isKnown")
             
         </td>
         </tr>
       <tr>
           <td class="editor-field">  Ім'я </td>
           <td class="editor-field">  Прізвище </td>
       </tr>
       <tr>
           <td class="editor-field">  @Html.TextBox("name","", new { @class = "editor" }) </td>
           <td class="editor-field">  @Html.TextBox("sureName","", new { @class = "editor" }) </td>
       </tr>
     <tr>
        <td class="error" colspan="2" align="center" style="padding-top: 5px;"> <button type="submit">Шукати</button></td>
    </tr>
    
    <tr>
        <td class="error" colspan="2" align="center" style="border-top: 1px solid silver; padding-top: 20px;"></td>
    </tr>
    </table>
}

<div id="UsersGrid">
    @Html.Partial("_gridUsers", Model)
</div>

