@model DistanceLessons.Models.News

@{
    ViewBag.Title = Html.Resource("Title")+Model.Title;
}

<div class="item" align="right">
@{
    if ((Session["role"].ToString()=="admin")||(Session["role"].ToString()=="teacher")||(Session["role"].ToString()=="dean"))
    {
        @Html.ActionLink(Html.Resource("Layout, edit"), "Edit", new { id = Model.NewId })
        @Html.ActionLink(Html.Resource("Layout, delete"), "Delete", new { id = Model.NewId })
    }
}
</div>

<h2>@Model.Title</h2>
    <div>
        @Html.TextHtml(Model.Text)
    </div>
    <br/>
<div class="time-author">-@Model.User.Login, @Model.Publication</div>

<div class="item" align="center">
    @Html.ActionLink(Html.Resource("Layout, back"), "Index")
</div>
