@model DistanceLessons.Models.News

@{
    ViewBag.Title = Html.Resource("Title")+Model.Title;
}

<div class="item" align="right">
@{
    if (User.IsInRole("Admin") || (User.IsInRole("Techer")) || (User.IsInRole("Dean")))
    {
        @Ajax.ActionLink(Html.Resource("Layout, edit"), "Edit", new {id = Model.NewId}, new AjaxOptions() {UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace})
        @Ajax.ActionLink(Html.Resource("Layout, delete"), "Delete", new {id = Model.NewId}, new AjaxOptions() {UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace})
    }
}
</div>

<h2>@Model.Title</h2>
    <div>
        @Html.TextHtml(Model.Text)
    </div>
    <br/>
<div class="time-author">-@Model.User.Login, @Model.Publication</div>

<div class="item" align="center">
    @Ajax.ActionLink(Html.Resource("Layout, back"), "Index", new AjaxOptions() { UpdateTargetId = "news_ajax", InsertionMode = InsertionMode.Replace })
</div>
