<script type="text/javascript">
    function alert_public() {
        var message = '@Html.TextHtml(Html.Resource("Layout, stat_public_alert_subscrb"))';
        alert(message);
    }

    function alert_private() {
        var message = '@Html.TextHtml(Html.Resource("Layout, stat_private_alert_subscrb"))';
        alert(message);
    }
</script>
@using DistanceLessons.Models
@model IEnumerable<UserCourseModel>
@if (Model.Count() != 0)
{
    <div style="margin: 0 10px;">
        <ul>
            @{
                foreach (UserCourseModel item in Model)
                {
                    <div class="item">
                        <li>
                            <div class="no_button">
                                <div><b>&nbsp;&nbsp;@item.Course.Title</b></div>
                                <div class="prologue">@Html.TextHtml(item.Course.Description)</div>
                            </div>
                            <div class="time-author">
                                <span style="float: left;">&nbsp;&nbsp;<i>@Html.Resource("Layout, status")</i> @if (item.Course.IsSubscribing)
                                                                                                               {
                                                                                                                   <font color="red">@Html.Resource("Layout, stat_private")&nbsp;&nbsp;</font>
                                                                                                               }
                                                                                                               else
                                                                                                               {
                                                                                                                   <font color="green">@Html.Resource("Layout, stat_public")&nbsp;&nbsp;</font>
                                                                                                               }</span>
                                <span class="no_button"><i>@Html.Resource("Layout, teacher")</i> 
                                
                                @if(item.Course.User.Information==null)
                                {
                                    @Html.ActionLink(item.Course.User.Login, "Info", "Profile", new {user = item.Course.User.Login}, null)
                                }
                                else
                                {
                                    @Html.ActionLink(String.Format("{0} {1}.{2}.",item.Course.User.Information.LastName, item.Course.User.Information.FirstName[0],item.Course.User.Information.MidName[0]), "Info", "Profile", new { user = item.Course.User.Login }, null)
                                }
                                
                                &nbsp;&nbsp;</span>
                                @if (!item.Course.IsSubscribing)
                                {
                                    if (item.Subscribe == 1)
                                    {
                                        <span onClick= alert_public();  >@Ajax.ActionLink(Html.Resource("Layout, subscribe"), "SubscribeOnCourse", new { item.Course.CourseId }, new AjaxOptions { UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace })</span>
                                    }
                                    else if (item.Subscribe == 0)
                                    {
                                             @Ajax.ActionLink(Html.Resource("Layout, cancel"), "DeleteSubscribeOnCourse", new { item.Course.CourseId }, new AjaxOptions { UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace })
                                    }
                                }
                                else
                                {
                                    if (item.Subscribe == 1)
                                    {
                                        <span onClick= alert_private();  >@Ajax.ActionLink(Html.Resource("Layout, subscribe"), "ConfirmSubscribeOnCourse", new { item.Course.CourseId, TeacherId = item.Course.UserId }, new AjaxOptions { UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace })</span>
                                    }
                                    else if (item.Subscribe == 2)
                                    {
                                             <span class="current_page">@Html.Resource("Layout, wait")</span>
                                    }
                                    else if (item.Subscribe == 0)
                                    {
                                                  @Ajax.ActionLink(Html.Resource("Layout, cancel"), "DeleteSubscribeOnCourse", new { item.Course.CourseId }, new AjaxOptions { UpdateTargetId = "course_ajax", InsertionMode = InsertionMode.Replace })
                                    }
                                }
                            </div>
                        </li>
                    </div>
                }
            }
        </ul>
        <div class="item">
            @Ajax.PagesType((int)Session["page"], (int)Session["itemsCount"], (int)Session["itemOnPage"], "course_ajax", "courses", (int)Session["withStatus"])
        </div>
    </div>
}
else
{
    <div class="data_null">@Html.Resource("Layout, data_null_courses")</div>
}