@using DistanceLessons.Models
@model List<CategoryCourse>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="width: 100%;">
    <caption>
        <h2>@Html.Resource("Courses")</h2>
    </caption>
    <tbody align="center">
        <tr>
            <td style="width: 33%;">
                @Html.Resource("Course")
            </td>
            <td>
                @Html.Resource("Desc")
            </td>
            <td>
                @Html.Resource("Category")
            </td>
        </tr>
        @foreach (CategoryCourse item in Model)
        {
            <tr>
                <td>@item.CourseTitle
                </td>
                <td>@item.CourseDescription
                </td>
                <td>@item.CategoryTitle
                </td>
            </tr>
        }
    </tbody>
</table>