@{
    ViewBag.Title = Html.Resource("Layout, welcome");
}

<link href="@Url.Content("~/Content/img/slider/skin/default.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/nivo-slider.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

<div class="slider-wrapper theme-default">
    <div class="ribbon">
    </div>
    <div id="slider" class="nivoSlider">
        <img src="@Url.Content("~/Content/img/slider/slide_welcome.png")" alt="" />
        <img src="@Url.Content("~/Content/img/slider/slide_reclame.png")" alt=""  title="#htmlcaption" />
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
        @Html.Resource("Layout, Slider_ToPage") @Html.ActionLink(Html.Resource("Layout, Slider_ToRegister"), "Register", "Account") !
    </div>
</div>
<script src="@Url.Content("~/Content/script/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>

@Html.ActionLink("Курси що вивчаються в університеті","Courses","Home")
