@using DistanceLessons.Models
@model List<CategoryCourse>
@{
    ViewBag.Title = Html.Resource("Courses");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table style="width: 100%;">
    <tbody align="center">
        <tr>
            <td style="width: 33%;">
                <b>@Html.Resource("Course")</b>
            </td>
            <td>
                <b>@Html.Resource("Desc")</b>
            </td>
            <td>
                <b>@Html.Resource("Category")</b>
            </td>
        </tr>
        @foreach (CategoryCourse item in Model)
        {
            <tr>
                <td>@item.CourseTitle
                </td>
                <td>@item.CourseDescription
                </td>
                <td>@item.CategoryTitle
                </td>
            </tr>
        }
    </tbody>
</table>