@model DistanceLessons.Models.ModuleUserAnswers
@if (Model.Answers.Count == 0)
{
    <div class="data_null">
        @Model.Username @Html.Resource("Layout, data_null_testing")
    </div>
}
else
{
    <h3>
        @Html.Resource("Layout, _result_result_title") @Model.ModuleTitle @Html.Resource("Layout, _result_result_title2") @Model.Username : @Model.ResultPercent % -  @Model.Result
        @Html.Resource("Layout, _result_result_title3")</h3>
    <div class="item" align="right">
    @Ajax.ActionLink(Html.Resource("Layout, _result_back_to_result"), Model.Parameters.ControllerName, new { id = Model.Parameters.pickedElement, divIdToReplace = Model.Parameters.DivIdToReplace, type = DistanceLessons.Models.ElementsType.Module }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace }) <br />
 </div>
    <table style="width: 100%;">
        <tbody align="center">
            <tr>
                <td  style="border: 1px solid silver; width: 33%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_test")
                </td>
                <td  style="border: 1px solid silver; width: 33%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_user_answer")
                </td>
                <td  style="border: 1px solid silver; width: 33%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_result")
                </td>
            </tr>
            
            @foreach (DistanceLessons.Models.DetailAnswersModel detailModel in Model.Answers)
            {
                <tr style="font-size: 85%;">
                    <td style="padding: 10px;border: 1px solid silver;">
                        @Html.TextHtml(detailModel.TestAndAnswers.Test.Question)<br />
                        @{Html.RenderPartial("ShowAnswersPartial", detailModel.TestAndAnswers.AnswerList, Html.ViewData);}
                    </td>
                    <td style="border: 1px solid silver; padding:5px;">
                        @if (detailModel.UserAnswers.Count == 0)
                        {
                            @Html.Resource("Layout, _result_null_answer")
                        }
                        @foreach (DistanceLessons.Models.UserAnswer answer in detailModel.UserAnswers)
                        {                      
                            @answer.Answer.Answer1 <br /> 
                        }
                    </td>
                    <td style="border: 1px solid silver;">
                        @Html.CheckBoxToText(detailModel.IsRightAnswer)
                    </td>
                </tr>
            }
            </tbody>
    </table>
}
