@model DistanceLessons.Models.EducationElementsModel
<table style="width: 100%;">
    <tbody align="center">
        <tr>
            <td style="width: 33%;">
                Категорія
            </td>
            <td>
                Курс
            </td>
            <td>
                Модуль
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var category in Model.Categories)
                {
                    if (Model.Parameters.pickedElement == category.Key) { @Html.TextHtml(">"); } 
                    @Ajax.ActionLink(category.Value, Model.Parameters.ControllerName, new { id = category.Key, divIdToReplace=Model.Parameters.DivIdToReplace, type = DistanceLessons.Models.ElementsType.Category }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace }) <br />
                }
            </td>
            <td>
                @foreach (var course in Model.Courses)
                {
                    if (Model.Parameters.pickedElement == course.Key)
                    { @Html.TextHtml(">");
                    } 
                    @Ajax.ActionLink(course.Value, Model.Parameters.ControllerName, new { id = course.Key,  divIdToReplace=Model.Parameters.DivIdToReplace, type = DistanceLessons.Models.ElementsType.Course }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace })   <br />
                }
            </td>
            <td>
                @foreach (var module in Model.Modules)
                {
                    if (Model.Parameters.pickedElement == module.Key)
                    { @Html.TextHtml(">");
                    } 
                    @Ajax.ActionLink(module.Value, Model.Parameters.ControllerName, new { id = module.Key, divIdToReplace = Model.Parameters.DivIdToReplace, type = DistanceLessons.Models.ElementsType.Module }, new AjaxOptions() { UpdateTargetId = Model.Parameters.DivIdToReplace, InsertionMode = InsertionMode.Replace })   <br />
                }
            </td>
        </tr>
    </tbody>
</table>

