@model List<DistanceLessons.Models.CourseResultModel>
@if (Model != null)
{

    if (Model.Count == 0)
    {
    <div class="data_null">
        @Html.Resource("Layout, data_null_detail_course")
    </div>
    }
    else
    {
    <h2>
        @Html.Resource("Layout, _result_course")</h2>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <th style="border: 1px solid silver; width: 35%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_loginPIP")
                </th>
                <th style="border: 1px solid silver; width: 35%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_complete_module")
                </th>
                <th style="border: 1px solid silver; width: 15%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_modules")
                </th>
                <th style="border: 1px solid silver; width: 15%; border-radius: 5px;" class="title">
                    @Html.Resource("Layout, _result_courses_points")
                </th>
            </tr>
            @foreach (var userResult in Model)
            { 
                <tr align='center'>
                    <td style="border: 1px solid silver;">
                        @Ajax.ActionLink(userResult.Login, (string)ViewBag.controller, new { id = userResult.UserId, divIdToReplace = ViewBag.replaceDiv, type = DistanceLessons.Models.ElementsType.User }, new AjaxOptions() { UpdateTargetId = ViewBag.replaceDiv, InsertionMode = InsertionMode.Replace })
                        <br />
                        @userResult.FirstName @userResult.LastName @userResult.MiddleName
                    </td>
                    <td style="border: 1px solid silver;">
                        @foreach (var moduleName in userResult.PassedModules)
                        {
                            @Ajax.ActionLink(moduleName.Value, (string)ViewBag.controller, new { id = moduleName.Key, divIdToReplace = ViewBag.replaceDiv, type = DistanceLessons.Models.ElementsType.Module }, new AjaxOptions() { UpdateTargetId = ViewBag.replaceDiv, InsertionMode = InsertionMode.Replace })   
                            <br />  
                        }
                    </td>
                    <td style="border: 1px solid silver;">
                        @foreach (var moduleResult in userResult.ResultModules)
                        {
                            @moduleResult.Value.ToString()
                            @Html.TextHtml("/")
                            @moduleResult.Key.ToString()
                            <br />
                        }
                    </td>
                    <td style="border: 1px solid silver;">
                        @userResult.CourseResult
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }


}
